.btn, .panel-heading {
  background-image:none!important;
}
.panel-heading {
  overflow:hidden!important;
  text-overflow:ellipsis!important;
  white-space:nowrap!important;
}
.panel-heading, .modal-header {
  background:#313131!important;
  color:#FFF!important;
  font-weight:bold;
  text-transform:uppercase;
}
.modal-header {
  border:1px solid #FFF!important;
}

.navbar-default {
  background-color:#313131!important;
  background-image:none!important;
  color:#FFF!important;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color:#FFF!important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color:#FFF!important;
}